---

---

<div
  class="flex flex-col gap-2 justify-center bg-primaryDark p-4 rounded-md text-white max-w-lg"
>
  <div class="w-full flex justify-center">
    <h3>MANAGEMENT & LICENSING</h3>
  </div>
  <div>
    <p>For all NON-theatre-related commercial enquiries. Anything related to orchestral/chamber music (past works and new commissions), general engagements and licensing of recordings.</p>
  </div>
  <hr
    class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />
  <div class="grid grid-cols-2 md:grid-cols-2 gap-2">
    <div class="grid gap-4 text-sm md:text-base">Laurence Aston,</div>
    <div class="grid gap-4 text-sm md:text-base">+44 (0)7714 235657</div>
    <div class="grid gap-4 text-sm md:text-base">First Name Music</div>
    <div class="grid gap-4 text-sm md:text-base">
      laurence@laurenceaston.com
    </div>
  </div>
  
  <hr
  class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />

  <div class="w-full flex justify-center">
    <h3>THEATRICAL AGENT</h3>
  </div>
  <div>
    <p>For all THEATRE-related queries (past or new commissions)</p>
  </div>
  <hr
    class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />
  <div class="grid grid-cols-2 md:grid-cols-2 gap-2">
    <div class="grid gap-4 text-sm md:text-base">Charles Walker,</div>
    <div class="grid gap-4 text-sm md:text-base">+44 (0)20 3214 0800</div>
    <div class="grid gap-4 text-sm md:text-base">United Agents</div>
    <div class="grid gap-4 text-sm md:text-base">
      cwalker@unitedagents.co.uk
    </div>
  </div>

  <hr
  class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />

  <div class="w-full flex justify-center">
    <h3>HIRE OF MATERIALS</h3>
  </div>
  <div>
    <p>We are particularly sympathetic to the cost challenges faced by amateur orchestras when it comes to materials hire, and we have special rates!..</p>
    <p>Find the work you're interested in hiring on the <a href="https://www.adriansutton.com/works/">Works</a> page, click on it, and in the right-hand panel of the detail page for the work, if it is available for hire, there will be a 'Contact us to hire' button for sending us an email directly to enquire.</p>
  </div>
  <hr
    class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />
 
</div>
