---
import { Image } from "astro:assets";

const { title, cover, compiledContent, arrange } = Astro.props;
---

<div
  class={`w-full flex flex-col md:flex-row items-center gap-6 p-4 ${
    arrange === "left" ? "flex-col-reverse" : ""
  }`}
>
  {
    arrange === "left" && (
      <div class="max-w-md flex-grow w-1/2 min-w-[250px]">
        <Image src={cover} alt="" />
      </div>
    )
  }
  <div class=`align-right flex flex-col text-white w-full md:w-1/2 gap-2`>
    <h2 class="font-bold text-2xl md:text-3xl">
      {title}
    </h2>
    <div set:html={compiledContent} class="text-sm md:text-md lg:text-lg" />
  </div>
  {
    arrange === "right" && (
      <div class="max-w-lg flex-grow w-1/2 min-w-[250px]">
        <Image src={cover} alt="" />
      </div>
    )
  }
</div>
